@import url('https://fonts.googleapis.com/css2?family=Homenaje&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
/*
#EEEDEB
#E0CCBE
#747264
#3C3633
*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    font-family: 'Homenaje', "sans-serif";
    font-size: 20px;
}

body{
    background-color: transparent;
}
#blank{
    background-color: white;
}
.title{
    font-weight: normal;
    background-color: #EEEDEB;
    font-family: "Playfair Display", serif;
    font-size: 40px;
    display: flex;
    justify-content: center;
}
.icon{
    background-color: #EEEDEB;
    height: 32px;
    padding: 0px 5px;
}
.frontPageImg{
    width: 100%; /*siempre full screen*/
    height: auto;
}
.displayRow{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.displayColumn{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
.hidden{ /*Esconder el h1 del usuario pero permitir a google que lo encuentre*/
    position: absolute;
    left: -9999px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
.optionColumn{
    display: flex;
    flex-direction: column;
    max-width: fit-content;
    margin-top: 1rem;
}
.displaySale{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
/*#region INDEX*/
/*<!--INDEX--------------------------------------------------------------------------->*/
.verMas{
    display: flex;
    justify-content: center;
    font-size: 30px;
    padding-bottom: 15px;
}
.product{
    border: 2px solid #747264;
    margin: 10px;
    
}
.productImg{
    max-width: 300px;
    max-height: 300px;
}
.productPriceBefore{
    color: gray;
    text-decoration: line-through;
    font-size: 20px;
}
.productPrice{
    font-size: 40px;
}
.ulProduct{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.productList{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
/*#endregion */

/*#region CATEGORIAS*/
/*<!--CATEGORIAS------------------------------------------------------------------------------>*/
.gridCategoria{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.gridCategoria img{
    width: 100%;
    height: auto;
}
.gridCategoria p{
    width: 100%;
    height: auto;
    text-decoration: none;
}
.textCategoria{
    text-align: center;
    color: black;
    background-color: #D9D9D9;
    border: 2px solid white;
    border-radius: 10px;
}
.logos{
    max-height: 135px;
    max-width: 240px;
}
.displayLogos{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.displayLogos a img{
    width: 100%;
    height: auto;
}

/*#endregion */

/*#region JEAN*/
/*<!--JEAN---------------------------------------------------------------------------------->*/
.jeanProduct{
    display: flex;
    justify-content: left;
    flex-direction: row;
}
.jeanDivision{
    display: flex; 
    height: 32rem;
    box-sizing: border-box;
}
#priceTag{
    font-size: 65px;
}
#nameTag{
    font-size: 50px;
}
.jeanInfo{
    font-size: 32px;
}

.jeanButton{
    margin: 2rem;
    border: 1px solid #3C3633;
    background-color: #FFFFFF;
    border-radius: 15px;
    padding: 10px;
    display: flex;
    justify-content: center;
    color: black;
    text-decoration: none;
    outline: none;

/*    background-color: transparent; /* Make the background transparent 
    border: none; /* Remove the border 
    text-decoration: none; /* Remove underline from text
    cursor: pointer; /* Add pointer cursor on hover
*/
}
.jeanBorder{
    margin: 12px;
}

.contenedor {
    display: flex;
}
.contenedorImagen {
    flex: 1;
}
.contenedorImagen img {
    width: 100%;
    height: auto;
}
/*#endregion */

/*#region PANTALONES*/
/*<!--PANTALONES------------------------------------------------------------------------------>*/
.titleCategoria{
    font-weight: normal;
    background-color: #EEEDEB;
    font-family: "Playfair Display", serif;
    font-size: 40px;
    display: flex;
    justify-content: center;
}
.productSort{
    width: 235px;
    padding: 15px;
    background-color: #E0CCBE;
}
.productBackground{
    background-color: #E0CCBE;
}
.ulProductCategoria{
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 10px;
    background-color: #FFFFFF;
}
.ulProductCategoria article{
    border: 2px solid #747264;
    margin: 10px;
}
.ulProductCategoria article img{
    max-width: 250px;
    max-height: 250px;
}
.subTitleCategoria{
    font-weight: normal;
    background-color: #EEEDEB;
    font-family: "Playfair Display", serif;
    font-size: 40px;
    display: flex;
    justify-content: center;
}

.chooseSort{
    display: flex;
    flex-direction: row;
}

.borderlessButton button{
    border: 0;
    padding: 0px 2px;
}
.borderlessButton button a {
    background-color: #FFFFFF;
}

/*#endregion */

/*#region USER-PAGE*/
/*<!--USER-PAGE------------------------------------------------------------------------------>*/
.userBackground{
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: bottom;
    background-image: url("../assets/img/backgroundUser.png");
}
.userBigSquare{
    background-color: #EEEDEB;
    border: 10px solid #EEEDEB;
    border-radius: 10px;
    display: flex;
    margin: 184px;
    justify-content: center;
    flex-direction: row;
}
.userForm{
    background-color: #EEEDEB;
}
.userSquare{
    text-align: left;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    padding: 10px 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
}
.userButton{
    margin-top: 12px;
    box-sizing: border-box;
    border: 2px solid #D9D9D9;
    background-color: #D9D9D9;
    border-radius: 15px;
}

/*#endregion */

/*<!--HEADER-------------------------------------------------------------------------------->*/

/*<!--menuHamburgesa-------------------------------------------------------------------------------->*/

.menu-toggle, .headerLabel{
    font-size: 24px;
    cursor: pointer;
    display: none;
    background-color: #EEEDEB;
}
.headerBackground{
    background-color: #EEEDEB;
    position: absolute;
    right: 0;
    padding-right: 10px;
}
.menu{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 20px;
    background-color: #EEEDEB;
}
.menu li a{
    color: black;
    text-decoration: none;
    background-color: #EEEDEB;
}
.burgerIcon{
    background-color: #EEEDEB;
}

.headerLabel{
    background-color: #EEEDEB
}

/*<!--menuHamburgesa-------------------------------------------------------------------------------->*/

.headerLeft{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #EEEDEB;
}
.headerRight{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #EEEDEB;
}
.logo{
    max-height: 80px;
    background-color: #EEEDEB;
}
.headerFix{
    height: 80px;
    background-color: #EEEDEB;
    position: absolute;
    left: 0;
    padding-left: 10px;
}
header{
    height: 80px;
    background-color: #EEEDEB;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}
header div nav ul{
    background-color: #EEEDEB;
}
header div nav ul li{
    display: inline-block;
}
header div nav ul li a{
    font-size: 25px;
    border: 5px;
    background-color: #EEEDEB;
}
header div nav a{
    background-color: #EEEDEB;
}
.headerIcon{
    display: flex;
    justify-content: right;
}
/*<!--SEARCHBAR----------------------------------------------------------------------------->*/
.container{
    background-color: #EEEDEB;
}

.searchBar{
    height: 40px;
    max-width: 100%;
    border: 2px solid white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 10px 10px;
}
.searchBar input{
    border: 0;
    outline: none;
    padding: 9px;
    font-size: 20px;
}
.searchBar button {
    border: 0;
}
#searchIcon{
    height: 30px;
    width: 30px;
}
/*<!--HEADER-------------------------------------------------------------------------------->*/
/*<!--FOOTER-------------------------------------------------------------------------------->*/
footer{
    height: 240px;
    background-color: #EEEDEB;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 5%;
    font-size: 20px;
    
}
.footerIcons{
    display: flex;
    justify-content: right;

}
footer div{
    display: flex;
    flex-direction: row;
    background-color: #EEEDEB;
}
footer ul{
    background-color: #EEEDEB;
    color: black;
}
footer li{
    background-color: #EEEDEB;
}
footer ul{
    padding-right: 32px;
}
footer a{
    background-color: #EEEDEB;
    color: black;
    text-decoration: none;
}
.noDot{
    list-style-type: none;
    font-size: 30px;
    background-color: transparent;
}
/*<!--FOOTER-------------------------------------------------------------------------------->*/
/*
Desktop         1440 x 1024 px
iPad mini 8.3   744  x 1133 px
iPhone SE       320  x 568  px
*/

/*#region MEDIA-QUERY*/

@media (max-width: 1290px) {
    /*<!--INDEX--------------------------------------------------------------------------->*/
    .productList{
        flex-direction: column;
    }
}
@media (max-width: 1040px) {
    /*<!--menuHamburgesa-------------------------------------------------------------------------------->*/
    #menu-toggle, .headerLabel{
        display: block;
    }
    .menu{
        display: none;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .menu:active{
        display: flex;
    }
    /*CATEGORIA*/
    .subTitleCategoria{
        font-size: larger;
    }
}
@media (max-width: 1024px) {
    /*<!--FOOTER-------------------------------------------------------------------------------->*/
    footer{
        flex-direction: column;
        height: 256px;
        padding-top: 8px;
    }
}
@media (max-width: 900px) {
    /*<!--USUARIO-------------------------------------------------------------------------------->*/
    .userBigSquare{
        flex-direction: column;
    }
}
@media (max-width: 744px) {
    /*<!--INDEX--------------------------------------------------------------------------->*/
    .productList{
        display: grid;
    }
    .ulProduct{
        flex-direction: column;
    }
    /*<!--FOOTER-------------------------------------------------------------------------------->*/
    footer{
        height: 18rem;
        padding-left: 1rem;
    }
    footer div div{
        flex-direction: column;
        padding-top: 8px;
    }
    .footerIcons{
        padding-top: 1rem;
    }
    /*<!--JEAN-------------------------------------------------------------------------------->*/
    .jeanProduct{
        flex-direction: column;
    }
    .jeanDivision{
        width: 100%;
        height: auto;
    }
    
    /*CATEGORIA*/
    .subTitleCategoria{
        font-size: large;
    }
}
@media (max-width: 410px) {
    
    /*CATEGORIA*/
    .subTitleCategoria{
        font-size: medium;
    }
}
@media (max-width: 360px){
    /*<!--FOOTER-------------------------------------------------------------------------------->*/
    footer{
        height: 24rem;
    }
    footer div div div{
        flex-direction: column;
    }
}
/* No termine necesitandolo
@media (max-width: 320px) { /*MINIMUM-------------------------------------------
    
    
    
}*/

/*#endregion */

/*PseudoClases*/
.jeanButton:hover{
    transition: background-color 0.5s;
    background-color: #747264;
}
.gridCategoria div p:hover{
    transition: background-color 0.5s;
    background-color: #747264;
}
.gridCategoria div p:active{
    background-color: #3C3633;
    color: #D9D9D9;
}
