@import url('https://fonts.googleapis.com/css2?family=Homenaje&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
/*
#EEEDEB
#E0CCBE
#747264
#3C3633
*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    font-family: 'Homenaje', "sans-serif";
    font-size: 20px;
}

body{
    background-color: transparent;
}

.title{
    font-weight: normal;
    background-color: #EEEDEB;
    font-family: "Playfair Display", serif;
    font-size: 40px;
    display: flex;
    justify-content: center;
}
.icon{
    background-color: #EEEDEB;
    height: 32px;
    padding: 0px 5px;
}
.frontPageImg{
    width: 100%; /*siempre full screen*/
    height: auto;
}
.displayRow{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.displayColumn{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
.hidden{ /*Esconder el h1 del usuario pero permitir a google que lo encuentre*/
    position: absolute;
    left: -9999px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
.optionColumn{
    display: flex;
    flex-direction: column;
    max-width: fit-content;
    margin-top: 1rem;
}
.displaySale{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
/*<!--INDEX--------------------------------------------------------------------------->*/

.verMas{
    display: flex;
    justify-content: center;
    font-size: 30px;
    padding-bottom: 15px;
}
.product{
    border: 2px solid #747264;
    margin: 10px;
    
}
.productImg{
    max-width: 300px;
    max-height: 300px;
}
.productPriceBefore{
    color: gray;
    text-decoration: line-through;
    font-size: 20px;
}
.productPrice{
    font-size: 40px;
}
.ulProduct{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.productList{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
/*<!--CATEGORIAS------------------------------------------------------------------------------>*/
.rowCategoria{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}
.picCategoria{
    padding: 1px 1px;
    max-width: 475px;
    max-height: auto;
    flex-direction: row;
}
#blank{
    background-color: white;
}
.textCategoria{
    text-align: center;
    color: black;
    background-color: #D9D9D9;
}

.logos{
    max-height: 135px;
    max-width: 240px;
    margin: 15px;
}
/*<!--JEAN---------------------------------------------------------------------------------->*/
.jeanDivision{
    display: flex; 
    width: 50%; /* Each element covers 50% of the container */
    box-sizing: border-box; /* Include padding and border in the width */
}
#priceTag{
    font-size: 65px;
}
#nameTag{
    font-size: 50px;
}
.jeanInfo{
    font-size: 32px;
}
.morePhotos{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.morePhotos img {
    max-width: 450px;
    height: auto;
    padding: 5px;
}
.jeanButton{
    margin: 2rem;
    border: 1px solid #3C3633;
    background-color: #FFFFFF;
    border-radius: 15px;
    padding: 10px;
    display: flex;
    justify-content: center;
}
.jeanBorder{
    margin: 12px;
}

/*<!--PANTALONES------------------------------------------------------------------------------>*/

.productSort{
    width: 235px;
    padding: 15px;
    background-color: #E0CCBE;
}
.productBackground{
    background-color: #E0CCBE;
}
.ulProductCategoria{
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 10px;
    background-color: #FFFFFF;
}
.ulProductCategoria article{
    border: 2px solid #747264;
    margin: 10px;
}
.ulProductCategoria article img{
    max-width: 250px;
    max-height: 250px;
}
.titleCategoria{
    padding: 25px;
    font-size: 32px;
    font-family: "Playfair Display", serif;
    font-weight: normal;
}

.chooseSort{
    display: flex;
    flex-direction: row;
}

.borderlessButton button{
    border: 0;
    padding: 0px 2px;
}
.borderlessButton button a {
    background-color: #FFFFFF;
}

/*<!--USER-PAGE------------------------------------------------------------------------------>*/
.userBackground{
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: #FFFFFF;
    width: 100%;
    height: 25rem;
    background-size: cover;
    background-position: bottom;
    background-image: url("../assets/img/backgroundUser.png");
}
.userBigSquare{
    background-color: #EEEDEB;
    border: 10px solid #EEEDEB;
    border-radius: 10px;
    display: flex;
    margin: 20px;
    justify-content: center;
    flex-direction: row;
}
.userSquare{
    text-align: left;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    padding: 10px 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
}
.userButton{
    margin-top: 12px;
    box-sizing: border-box;
    border: 2px solid #D9D9D9;
    background-color: #D9D9D9;
    border-radius: 15px;
}
/*<!--HEADER-------------------------------------------------------------------------------->*/
.headerLeft{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #EEEDEB;
}
.headerRight{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #EEEDEB;
}
.logo{
    max-height: 80px;
    padding-right: 30px;
    background-color: #EEEDEB;
}
.headerFix{
    height: 80px;
}
header nav{
    height: 80px;
    background-color: #EEEDEB;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}
nav ul{
    background-color: #EEEDEB;
}
nav ul li{
    display: inline-block;
}
nav ul li a{
    font-size: 25px;
    border: 5px;
    background-color: #EEEDEB;
}
nav  a{
    background-color: #EEEDEB;
}
.headerIcon{
    display: flex;
    justify-content: right;
}
/*<!--SEARCHBAR----------------------------------------------------------------------------->*/
.container{
    background-color: #EEEDEB;
}

.searchBar{
    height: 40px;
    max-width: 100%;
    border: 2px solid white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 10px 10px;
}
.searchBar input{
    border: 0;
    outline: none;
    padding: 9px;
    font-size: 20px;
}
.searchBar button {
    border: 0;
}
#searchIcon{
    height: 30px;
    width: 30px;
}
/*<!--HEADER-------------------------------------------------------------------------------->*/
/*<!--FOOTER-------------------------------------------------------------------------------->*/
footer{
    height: 240px;
    background-color: #EEEDEB;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 5%;
    font-size: 20px;
}
.footerIcons{
    display: flex;
    justify-content: right;

}
footer div{
    display: flex;
    flex-direction: row;
    background-color: #EEEDEB;
}
footer ul{
    background-color: #EEEDEB;
}
footer li{
    background-color: #EEEDEB;
}
footer ul{
    padding-right: 32px;
}
footer a{
    background-color: #EEEDEB;
}
.noDot{
    list-style-type: none;
    font-size: 30px;
    background-color: transparent;
}
/*<!--FOOTER-------------------------------------------------------------------------------->*/
/*
Desktop         1440 x 1024 px
iPad mini 8.3   744  x 1133 px
iPhone SE       320  x 568  px
*/
@media (max-width: 1290px) {
    /*<!--INDEX--------------------------------------------------------------------------->*/
    .productList{
        flex-direction: column;
    }
}
@media (max-width: 1024px) {
    /*<!--FOOTER-------------------------------------------------------------------------------->*/
    footer{
        flex-direction: column;
        height: 256px;
        padding-top: 8px;
    }
}
@media (max-width: 744px) {
    /*<!--INDEX--------------------------------------------------------------------------->*/
    .productList{
        display: grid;
    }
    .ulProduct{
        flex-direction: column;
    }
    /*<!--FOOTER-------------------------------------------------------------------------------->*/
    footer{
        height: 18rem;
        padding-left: 1rem;
    }
    footer div div{
        flex-direction: column;
        padding-top: 8px;
    }
    .footerIcons{
        padding-top: 1rem;
    }
}
@media (max-width: 360px){
    /*<!--FOOTER-------------------------------------------------------------------------------->*/
    footer{
        height: 24rem;
    }
    footer div div div{
        flex-direction: column;
    }
}
@media (max-width: 320px) { /*MINIMUM-------------------------------------------*/

    
    
    
}